APScheduler==3.6.3
cachetools==4.2.2
certifi
charset-normalizer==2.1.1
click
colorama
Flask
idna==3.4
itsdangerous
Jinja2
MarkupSafe
numpy
pandas
python-dateutil==2.8.2
python-telegram-bot==13.14
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
requests==2.28.1
six==1.16.0
tornado==6.1
tzdata==2022.6
tzlocal==4.2
urllib3==1.26.12
Werkzeug
wincertstore==0.2
gunicorn
redis
datetime
